.introduce-container {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 30px 0px;
  border-radius: 10px;
  .title {
    text-align: center;
  }
  .introduce-img {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
