build/
src/config
# node.js
/node_modules
npm-debug.log
yarn-error.log
yarn.lock

package-lock.json

src/api/v1/swagger/node_modules
src/api/v1/swagger/package-lock.json
src/api/v1/swagger/log.txt
src/api/v1/swagger/start.sh
src/api/v1/swagger/up.sh
up.sh
start.sh
log.txt
uploaded
logger/recorded
dist
data
uploads
.env.development.local
.env
.env.example
user